<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569729108423-kps91k9464tq5hhhfm9pa1spn4p90tka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569729108423-kps91k9464tq5hhhfm9pa1spn4p90tka</string>
	<key>API_KEY</key>
	<string>AIzaSyCla1HUf7syPpsoxwofu713LqS1dk9LcE0</string>
	<key>GCM_SENDER_ID</key>
	<string>569729108423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mystore.store</string>
	<key>PROJECT_ID</key>
	<string>hackathon-e-commerce-64a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-e-commerce-64a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569729108423:ios:48e5d222ea009f154ff1e2</string>
</dict>
</plist>